git+https://github.com/austin-bowen/easymesh.git
git+https://github.com/austin-bowen/pololu-maestro.git

accelerate
Flask
funasr
opencv-python
modelscope
numpy
pillow
sounddevice
torch
torchvision
torchaudio
transformers
voicebox-tts
