git+https://github.com/austin-bowen/easymesh.git
git+https://github.com/austin-bowen/pololu-maestro.git

accelerate
Flask
funasr
HomeAssistant-API
humanize
opencv-python
modelscope
numpy<2.3  # 2.3 requires gcc >=9.3.0, which is not available on Jetson Nano :(
pillow
pydub  # Needed by funasr
python-weather
sounddevice
torch
torchvision
torchaudio
transformers
ultralytics
voicebox-tts[amazon-polly]
wolframalpha

# Node: agent
openai
psutil
